@model DoAn_Web_SellClothes.Models.Product
@{
    ViewBag.Title = "DetailReceipt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid px-4">
    <h1 class="my-4">Chi tiết hóa đơn: <span>11</span></h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Chi tiết hóa đơn
        </div>
        <div class="card-body">
            <table id="datatablesInvoiceDetail" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>11</td>
                        <td>Áo polo</td>
                        <td>5</td>
                        <td>300000<span>đ</span></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Áo polo</td>
                        <td>5</td>
                        <td>300000<span>đ</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-outline-dark" onclick="history.back()">Trở về</button>


</div>

@*<div class="container-fluid px-4">
        <h1 class="my-4">Chi tiết hóa đơn: <span>11</span></h1>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Chi tiết hóa đơn
            </div>
            <div class="card-body">
                <table id="datatablesInvoiceDetail" class="table-responsive">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>HÌnh</th>
                            <th>Ngày tạo</th>
                            <th>Ngày cập nhật</th>
                            <th>Mô tả</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                            <th>Loại sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td> @Html.DisplayFor(model => model.IdProduct)</td>
                            <td> @Html.DisplayFor(model => model.NameProduct)</td>
                            <td> @Html.DisplayFor(model => model.PriceProduct)</td>
                            <td> @Html.DisplayFor(model => model.IdProduct)</td>
                            <td> @String.Format("{0:dd/MM/yyyy}", Model.UpdateDate)</td>
                            <td> @String.Format("{0:dd/MM/yyyy}", Model.CreateDate)</td>
                            <td> @Html.DisplayFor(model => model.DescribeProduct)</td>
                            <td> @Html.DisplayFor(model => model.QuantityProduct)</td>
                            <td> @Html.DisplayFor(model => model.StatusProduct)</td>
                            <td> @Html.DisplayFor(model => model.ProductType.NameProductType)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div style="text-align:center"><a class="btn" href="@Url.Action("DSsanpham","ChucNang")"> Trở về</a></div>
            </div>
        }
        <button class="btn btn-outline-dark" onclick="history.back()">Trở về</button>
    </div>*@

