@using DoAn_Web_SellClothes.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Product>

    

@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý sản phẩm</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table "></i>
            Sản phẩm
        </div>
        <div class="card-body">
            <table id="datatablesProduct" class="table-responsive">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Hình</th>
                        <th>Giá</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Mô tả</th>
                        <th>Loại</th>
                        <th>Trạng thái</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.NameProduct)</td>
                            <td>
                                <img src="~/Assets/img/Clothes/@Html.DisplayFor(modelItem => item.ImageProduct)" class="img-thumbnail" style="width:75px" alt="Alternate Text" />
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.PriceProduct)<span>đ</span></td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.CreateDate)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.UpdateDate)</td>
                            <td style="max-width:200px">@Html.DisplayFor(modelItem => item.DescribeProduct)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProductType.NameProductType)</td>
                            <td>@Html.DisplayFor(modelItem => item.StatusProduct)
                            <td>
                                <input type="button" class="btn btn-info w-75 mb-1" value="Edit" />
                                <input type="button" class="btn btn-warning w-75" value="Delete" />
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>  
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user"></i>
            Chi tiết sản phẩm
        </div>
        @using (Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <div class="table-Edit table-responsive">
                    <table class="table">
                        <tbody>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <tr>
                                <th>Tên sản phẩm</th>
                                <td>
                                    <input type="text" name="name" />
                                </td>
                            </tr>
                            <tr>
                                <th>Hình</th>
                                <td>
                                    <input type="file" name="image" />
                                    @ViewBag.ThongBaoAnh
                                </td>
                            </tr>
                            <tr>
                                <th>Giá</th>
                                <td>
                                    <input type="text" name="price" />
                                </td>
                            </tr>
                            <tr>
                                <th>Ngày cập nhật</th>
                                <td>
                                    <input type="date" name="update" />
                                </td>
                            </tr>
                            <tr>
                                <th>Mô tả</th>
                                <td>
                                    <input type="text" name="describe" />
                                </td>
                            </tr>
                            @*<tr>
                                <th>Size</th>
                                <td>
                                    @Html.DropDownList("Size")
                                </td>
                            </tr>*@
                            @*<tr>
                                <th>Loại</th>
                                <td>
                                    <select class="form-control">
                                        @Html.DropDownList("type")
                                    </select>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" class="mybtn btn btn-outline-success" value="Thêm" /> <!--nếu chọn Edit thì value = chỉnh sửa-->
        }
    </div>
</div>
