@using DoAn_Web_SellClothes.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Invoice>
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý hóa đơn</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Hóa đơn
        </div>
        <div class="card-body">
            <table id="datatablesInvoice" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>khách hàng</th>
                        <th>Địa chỉ nhận hàng</th>
                        <th>Số điện thoại người nhận</th>
                        <th>Ngày lập</th>
                        <th>Tổng hóa đơn</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái hóa đơn</th>
                        <th>Trạng thái vận chuyển</th>
                        <th>Mã tài khoản</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.id)</td>
                        <td>Tài khoản user</td>
                        <td>Địa chỉ nhận hàng</td>
                        <td>Số điện thoại nhận hàng</td>
                        <td>8/8/2022</td>
                        <td>1900000<span>đ</span></td>
                        <td>đã xác nhận</td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("DetailReceipt","Manage")">View details</a>
                        </td>
                    </tr>
                    @*@foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.Account.FullName)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.InvoiceDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalInvoice)<span>đ</span></td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentsInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.StatusInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.NoteInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.Account.IdAccount)</td>
                            <td>
                              @Html.ActionLink("DetailReceipt","Manage", new { id = item.IdInvoice }, new {@class="btn btn-info"})
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>



