@using DoAn_Web_SellClothes.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Invoice>
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý hóa đơn</h1>

    <div class="mb-3">
        <button class="btn btn-success" type="submit">Lưu trạng thái</button>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Hóa đơn
        </div>
        <div class="card-body">
            <table id="datatablesInvoice" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Ngày lập</th>
                        <th>Tổng hóa đơn</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái</th>
                        <th>Lưu ý</th>
                        <th>Mã tài khoản</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.Account.FullName)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.InvoiceDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalInvoice)<span>đ</span></td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentsInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.StatusInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.NoteInvoice)</td>
                            <td>@Html.DisplayFor(modelItem => item.Account.IdAccount)</td>
                            <td>
                              @Html.ActionLink("DetailReceipt","Manage", new { id = item.IdInvoice }, new {@class="btn btn-info"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



