@using DoAn_Web_SellClothes.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<ProductType>

@{
    ViewBag.Title = "TypesClothes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý loại đồ</h1>
    <div class="mb-3">
        <a class="btn btn-success" href="@Url.Action("AddTypesClothes","Manage")">Thêm loại sản phẩm</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table "></i>
            Loại đồ
        </div>
        <div class="card-body">
            <table id="datatablesTypesClothes" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã loại</th>
                        <th>Tên loại</th>
                        <th>Mã giới tính</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdProductType)</td>
                            <td>@Html.DisplayFor(modelItem => item.NameProductType)</td>
                            <td>@Html.DisplayFor(modelItem => item.IdSex)</td>
                            <td>
                                @Html.ActionLink("Edit", "EditTypesClothes", new { id = item.IdProductType }, new {@class="btn btn-info mb-1 mb-lg-0"})
                                @Html.ActionLink("Delete", "DeleteProductType", new { id = item.IdProductType }, new {@class="btn btn-warning"})
                            </td>
                        </tr>
                     }
                  </tbody>
            </table>
        </div>
    </div>
</div>

